#shapes {
    height: 100px;
    background-color: grey;
}

body {
    display: flexbox;
    justify-content: center;
}

button {
    height: 20px;
    width: 100px;
    background-color: orange;
}

body p {
    color: #ffffff;
    text-align: center;
}